extends layout

block content
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    script(src="/scripts/ui.js")
    style.
        h4 {margin-left: 20px}
        pre {margin: 25px; padding: 20px; background-color: #FEFEED; border: 1px solid gray}
        body {background-image: url(http://static8.depositphotos.com/1024764/1053/i/450/depositphotos_10535542-Seamless-background-with-QR-code-pattern.jpg); background-repeat: repeat; background-attachment: fixed }
    link(rel="stylesheet", href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/flick/jquery-ui.css")
    #content(style="margin: auto; width: 700px; background-color: #F3F3F3; border: 3px solid black; outline: 18px solid white")
        center
            h1(style="color: white; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;") crypto snapshots
        hr
        center
            h3(style="color: white; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;") donwload daily distribution snapshots
        hr
        table(cellpadding="4", width="100%")
            tr
                td(width=150)
                    label Supply
                td
                    input#supply(type="text", value="1000000")
            tr
                td
                    label Portion Ags:
                        span#amags 10%
                td
                    #sliderags
            tr
                td
                    label Portion Pts:
                        span#ampts 10%
                td
                    #sliderpts
            tr
                td
                    label Date
                td
                    input#datepicker(type="text", value="02/06/2014")
            tr
                td(colspan=2, align="center")
                    #selection
                        input#radioPts(type="radio", name="action", value="pts.json", checked="checked")
                        label(for="radioPts") protoshares balances
                        input#radioAgs(type="radio", name="action", value="ags.json")
                        label(for="radioAgs") angelshares balances
                        input#radioGen(type="radio", name="action", value="genesis")
                        label(for="radioGen") genesis block
            tr
                td(colspan=2, align="center")
                    button#go download
        hr
        center
            h3(style="color: white; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;") howto duplicate this server
        hr
        h4 setup mysql server, nodejs, protosharesd (or protosharesQt) and git
        h4 edit ~/.protoshares/Protoshares.conf
        pre.
            rpcuser=mytestuser
            txindex=1
            reindex=1
            server=1
            rpcpassword=alibabatrinktmeinenkaba!
        h4 start protosharesd (or protosharesQt)
        h4 create a database and these tables in mysql
            pre.
                CREATE TABLE IF NOT EXISTS `addresses` (
                    `address` char(34) NOT NULL,
                    `id` int(11) NOT NULL AUTO_INCREMENT,
                    PRIMARY KEY (`id`)
                ) ENGINE=InnoDB  DEFAULT CHARSET=utf8 AUTO_INCREMENT=348922 ;

                CREATE TABLE IF NOT EXISTS `donations` (
                    `address` int(11) NOT NULL,
                    `amount` decimal(39,16) NOT NULL,
                    `block` int(11) NOT NULL,
                    `time` int(12) NOT NULL,
                    `day` int(11) NOT NULL,
                    KEY `address` (`address`)
                ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

                CREATE TABLE IF NOT EXISTS `transactions2` (
                    `id_address` int(11) NOT NULL,
                    `change` bigint(40) NOT NULL,
                    `block` int(11) NOT NULL,
                    `time` bigint(40) NOT NULL,
                    `day` int(11) NOT NULL,
                    KEY `address` (`id_address`),
                    KEY `day` (`day`)
                ) ENGINE=InnoDB DEFAULT CHARSET=utf8;
        h4 install ParseProto and pm2 (node process manager, optional but very nice tool)
        pre.
            git clone https://github.com/DerKorb/ParseProto.git
            cd ParseProto
            npm install
            npm install pm2 -g
        h4 change mysql setting ins parserThread.js, blockchainInfo.js and app.js
        pre.
            connection = mysql.createConnection({
                host: "localhost",
                user: "",
                password: "",
                database: ""
            });
        h4 start the bitshares bts blockchain parser
        pre.
            pm2 start parserThread.js
        h4 start the bitcoin blockchain parser
        pre.
            pm2 start blockchainInfo.js
        h4 start the webserver (you might want to change the port in app.js)
        pre.
            pm2 start app.js
